<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Täiendav analüüs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>  
<div class="tekstselgit">  
Maksevõime prognoos
</div>
<br>
<div class="tekstselgit2">  
Alljärgneval joonisel on toodud maksevõime ja käibevahendite prognoos. Prognoosi sisend tuleneb maksevõime mudelist ja selle pinnalt on toodud analüüs nii maksevõime kui ka käibevahendite osas (käibevahendid on maksevõime oluline komponent). Toodud jooned on korrelatsioonis, suurem maksevõime toob kaasa parema positsiooni turul ja seega käibevahendite paranemise.
</div>
<matrix-lichart></matrix-lichart>
<br>
<matrix-hichart></matrix-hichart>
</ion-content>